<section class="vbox bg-white visible-md visible-sm visible-lg" >
	<header class="header bg-white md-whiteframe-z2 b-b">
		<p>Profile</p>
		<account-dropmenu></account-dropmenu>
	</header>

    <section class="panel border ">

<div layout="row" layout-wrap>
    <div flex="25">

        <component-short-profile-view></component-short-profile-view>

        <component-pod-count></component-pod-count>

        <md-content class="md-padding">


            <md-tabs md-dynamic-height md-border-bottom>

                <md-tab>
                    <md-tab-label><i class="material-icons ">account_circle</i></md-tab-label>
                    <md-tab-body>

                        <component-profile-view></component-profile-view>

                    </md-tab-body>
                </md-tab>


                <md-tab>
                    <md-tab-label><i class="material-icons ">phone</i></md-tab-label>
                    <md-tab-body>

                        <component-contact-view></component-contact-view>

                    </md-tab-body>
                </md-tab>
            </md-tabs >

        </md-content>
    </div>
    <div flex="40">
    
    </div>
</div>

</section>
</section>

	 

<!-- End desktop view -->

<!--mobile view-->
 <section class="vbox visible-xs"  >

	 <section >
		<photo-profile></photo-profile>
		
		<pods-profile></pods-profile>
		
		<events-profile></events-profile>
		
	 </section>
</section>

<!--//End mobile view-->