<section class="vbox bg-white visible-md visible-sm visible-lg" >
	<header class="header bg-dark md-whiteframe-z2">
		<p>Profile</p>
		<account-dropmenu></account-dropmenu>
	</header>
	
	 <section class="scrollable " >
	 <img  ng-src="{{profileView.photo_url}}{{profileView.user_id}}/28" class="img-element-section">
	 <div class="col-md-8 col-md-offset-2 aboveblur">
			       <div class="row b-b">
				    
                <aside class=" lter r-l text-center v-middle">
                  <div class="wrapper">
                      
					
					
                  <div class="panel-body">
                    <div class="clearfix text-center m-t">
                      <div class="inline">
                        <div class="thumb-lg animated rollIn">
					<img ng-src="{{profileView.photo_url}}{{profileView.user_id}}/160" class=" avatar border l-r bg-success">
                   </div>
				    <p  ><h4><span class="label label-success ">
				    {{profileView.profile.fname}} {{profileView.profile.mname}} {{profileView.profile.lname}}
				    </span></h4></p>
                   
                      </div>                      
                    </div>
                  </div>
                  <footer class="panel-footer bg-dark lter text-center">
                    <div class="row pull-out">
                      <div class="col-xs-4">
                        <div class="padder-v">
                          <span class="m-b-xs h4 block">{{profileView.podCount}}&nbsp<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-users fa-stack-1x text-warning"></i>
</span></span>
                          <small class="whitefontbig">Pods</small>
                        </div>
                      </div>
                      <div class="col-xs-4 bg-success ">
                        <div class="padder-v">
                          <span class="m-b-xs h4 block">{{profileView.eventCount}}&nbsp<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-calendar fa-stack-1x text-danger"></i>
</span></span>
                          <small class="whitefontbig">Event</small>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="padder-v">
                           <span class="m-b-xs h4 block">{{profileView.eventCount}}&nbsp<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-calendar-plus-o fa-stack-1x text-success"></i>
</span></span>
                          <small class="whitefontbig">Attended</small>
                        </div>
                      </div>
                    </div>
                  </footer>
                
					
                  </div>
                  
                </aside>
              </div></br>
              <component-profile-view></component-profile-view>
              <component-contact-view></component-contact-view>

              <div class="btn-group btn-group-justified m-b ">
                      <a class="btn btn-primary btn-rounded " data-toggle="button">
                        <span class="text">
                          <i class="fa fa-eye"></i> Follow
                        </span>
                        <span class="text-active">
                          <i class="fa fa-eye"></i> Following
                        </span>
                      </a>
                      <a class="btn btn-info btn-rounded">
                        <i class="fa fa-comment-o"></i> Chat
                      </a>
                    </div>
	</div>
	
	 </section>
	 
</section>
<!-- End desktop view -->

<!--mobile view-->
 <section class="vbox visible-xs"  >

	 <section >
		<photo-profile></photo-profile>
		
		<pods-profile></pods-profile>
		
		<events-profile></events-profile>
		
	 </section>
</section>
<!--//End mobile view-->