<section class="vbox bg-white" hide-sm>
	<header class="header bg-dark md-whiteframe-z2">
		<p>Profile Details</p>
	<account-dropmenu></account-dropmenu>
	</header>
	 <section class="scrollable wrapper">
	 
	
		<div class="col-md-7 col-md-offset-2">
			       <div class="row b-b">
				    <section class="panel no-borders hbox">
                <aside class=" lter r-l text-center v-middle">
                  <div class="wrapper">
                      <div class="thumb-lg animated rollIn">
					<img ng-src="{{profileDetail.photo_url}}{{profileDetail.user_id}}" class=" avatar border l-r bg-success">
                   </div>
				    <p  ><em>{{profileDetail.userDetail.username}}</em></p>
					
                  </div>
				 
                </aside>
                <aside>
				
                  <div class="pos-rlt b-l">
                 
                    <div class="panel-body">                      
                      <div class="clearfix m-b">
                       <i class="fa fa-circle text-danger pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-info fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-user fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a href="#" ><strong>{{profileDetail.userDetail.fname}} {{profileDetail.userDetail.mname}} {{profileDetail.userDetail.lname}}</strong></a>
                         
                        </div>
                      </div>
                        
					<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-warning fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-birthday-cake fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a href="#" ><strong >{{profileDetail.birthday}}</strong></a>
                         
                        </div>
                      </div>	
							<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-success fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-envelope fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a href="#" ><strong >{{profileDetail.userDetail.email}}</strong></a>
                         
                        </div>
                      </div>	
                    </div>
                    <footer class="panel-footer">
                      <div class="row pull-out">
                      <div class="col-xs-4" >
                        <div class="padder-v">
                          <span class="m-b-xs h4 block">{{profileDetail.podCount}}&nbsp<i class="fa fa-group text-muted"></i></span>
                          <small class="text-muted">Pods</small>
                        </div>
                      </div>
					   <div class="col-xs-4" >
                        <div class="padder-v">
                          <span class="m-b-xs h4 block">{{profileDetail.eventCount}}&nbsp<i class="fa fa-group text-muted"></i></span>
                          <small class="text-muted">Events</small>
                        </div>
                      </div>
                      <div class="col-xs-4" >
                        <div class="padder-v">
                          <md-card>
						   <img ng-src="{{profileDetail.userQr}}{{profileDetail.user_id}}">
						  </md-card>
                        </div>
                      </div>
                      
                    </div>
                    </footer>
                  </div>
                </aside>
              </section>
				   </div>
					
		</div>
		
		<div class="col-md-8 col-md-offset-2">
		
			<h4 class="text-success">Pods</h4>
			
			<div class="row">
			 <div class="col-md-3" ng-repeat="pods in profileDetail.created" ng-if="pods.pod_admin == profileDetail.user_id" ng-init="profileDetail.podCounter()">
					<md-card >
										<img ng-src="{{profileDetail.urlBanner}}{{pods._id}}" width=150 height=120>
									<md-card-content>
					
										<div layout="row" >
											<a class="text-xs">{{pods.pod_title}}</a>
											
										</div>
										
									</md-card-content>
							</md-card>
			 </div>
			
			</div>
			
		</div>
			
			<br/>
			 <div class="col-md-8 col-md-offset-2">
			 <hr>
			<h4 class="text-success">Events</h4>
				<div class="col-md-3" ng-repeat="event in profileDetail.events " ng-if="event.event_admin == profileDetail.user_id" ng-init="profileDetail.eventCounter()">
					<md-card >
										<img ng-src="{{profileDetail.eventBanner}}{{event._id}}" width=150 height=120>
									<md-card-content>
					
										<div layout="row" >
											<a class="text-xs">{{event.event_title}}</a>
										</div>
										
									</md-card-content>
							</md-card>
			 </div>
			  
			 </div>

	 </section>
</section>

<!--mobile view-->
 <section class="vbox bg-white" hide-gt-md >

	 <section >
		<photo></photo>
		
		<pods></pods>
		
		<events></events>
		
	 </section>
</section>
<!--//End mobile view-->