<section class="vbox bg-white " >
 <header class="header bg-dark md-whiteframe-z2">
	<p>Profile Settings</p>
	<account-dropmenu></account-dropmenu>
 </header>
 <section class=" scrollable wrapper">
 

<div class="col-sm-5 col-md-offset-3">
					
					  <div class="wrapper"><center>
                      <div class="thumb-lg animated rollIn">
					<img ng-src="{{profileSetting.profile_url}}{{profileSetting.user_id}}" class=" avatar border l-r bg-success">
                   </div>
				    <p  ><em>{{profileView.profile.username}}</em></p>
				
							
							<md-button ng-click="profileSetting.uploadProfilePhoto()" class="md-accent md-fab" ng-if="detailEvent.Event.event_admin == detailEvent.evt_min">
									<md-tooltip>
									 Upload
									</md-tooltip>
									<i class="fa fa-upload" style="font-size:20px; margin-top:18px"></i>
								</md-button>
                  </div></center>
				</div>
	<div class="col-sm-5 col-md-offset-3 ">
                  <form data-validate="parsley " class="md-whiteframe-z2">
                    <section class="panel">
                      <header class="panel-heading">
						<span class="h4"><i class="fa fa-gear"></i>&nbspAccount Settings</span>
					   </header>
                     <user-account></user-account>
                      
					</section>
                  </form>
                </div>

			
				
				
				
	<div class="col-sm-5 col-md-offset-3 ">
                  <form data-validate="parsley" class="md-whiteframe-z2">
                    <section class="panel">
                      <header class="panel-heading">
                        <div layout="row">
						<span class="h4"><i class="fa fa-gear"></i>&nbspProfile Settings</span>
					
                      </header>
                      <div class="panel-body">
                  

                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >Username</label>
                                  <input ng-model="profileSetting.FORM.username" required >
                              </md-input-container>
                          </div>
                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >First name</label>
                                  <input ng-model="profileSetting.FORM.fname" required>
                              </md-input-container>
                          </div>
                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >Middle name</label>
                                  <input ng-model="profileSetting.FORM.mname" required>
                              </md-input-container>
                          </div>

                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >Lastname </label>
                                  <input ng-model="profileSetting.FORM.lname" required>
                              </md-input-container>
                          </div>
						  
						  <div class="form-group pull-in clearfix" >
                          <div class="col-sm-4">
                            
							<md-select placeholder="Month" ng-model="profileSetting.birthMonth" required >
							 <md-option ng-repeat="month in profileSetting.month" value="{{month.val}}">{{month.mnth}}</md-option>
							</md-select>
                          </div>
                          <div class="col-sm-4">
							<md-select placeholder="Day" ng-model="profileSetting.birthDate" >
									<md-option ng-repeat="days in profileSetting.date" value="{{days.val}}">{{days.day}}</md-option>
							</md-select>
                                  
                          </div> 
							<div class="col-sm-4">
						    <md-select placeholder="Year" ng-model="profileSetting.birthYear">
								<md-option ng-repeat="year in profileSetting.year" value="{{year}}">{{year}}</md-option>
							</md-select>
                                  
                          </div> 
                        </div>

					<div class="form-group">
						 <md-radio-group ng-model="profileSetting.FORM.gender">
							<md-radio-button value="m" aria-label="Gender">
								Male
							</md-radio-button>
							<md-radio-button value="f" aria-label="Gender">
								Female
							</md-radio-button>
						</md-radio-group>
                        </div>
             
                      </div>
                   <footer class="text-right">
						
                        <md-button class="md-raised"   id="custom-button-1" ng-click="profileSetting.saveChanges()">
							<span id="button-label-w"><i class="fa fa-floppy-o "></i>&nbspSave Changes</span>
						</md-button>
				
				 </footer>
                    </section>
                  </form>
                </div>

 </section>
</section>
<script type="text/ng-template" id="CurrentPassword.html">
 <md-dialog>
  <md-dialog-content>
   <md-input-container>
    <label>Current Password</label>
	 <input type="password" ng-model="currentPassword"/>
	 <footer>
	  <md-button ng-click="ok()">
		Ok
	  </md-button>
	   <md-button ng-click="cancel()">
	    Cancel
	   </md-button>
	   
	 </footer>
   </md-input-container>
  </md-dialog-content>
 </md-dialog>
</script>