<!DOCTYPE html>
 <html ng-app="app">
	<head>

	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link rel="stylesheet" type="text/css" href="public/bootstrap/css/bootstrap.css" />
	 <link rel="stylesheet" type="text/css" href="public/animate-css/animate.css" />
	 <link rel="stylesheet" type="text/css" href="public/plugin/plugin.css" />
	 <link rel="stylesheet" type="text/css" href="public/angular-material/angular-material.css" />
	 <link rel="stylesheet" type="text/css" href="public/font-awesome/css/font-awesome.css" />
	 <link rel="stylesheet" type="text/css" href="public/imageCrop/image-crop-styles.css" />

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">



	 <link rel="stylesheet" href="public/select2/select2.css" type="text/css" />
	 <link rel="stylesheet" href="public/fuelux/fuelux.css" type="text/css" />
	 <link rel="stylesheet" type="text/css" href="public/custom.css" />
	 <link rel="stylesheet" type="text/css" href="public/app.css" />
	</head>
 <body ng-controller="MainController as mainKoolets" >
	
	      <section class="hbox stretch">

    <!-- .aside -->
	
    <aside class="bg-primary aside-sm md-sidenav-left" id="nav"  ng-show="mainKoolets.sideNavState" >
	
	
	
      <section class="vbox" >
	
        <header class="dker nav-bar nav-bar-fixed-top">
		
         <div layout="row">
		    <md-button class="md-icon-button" aria-label="settings" hide-gt-md ng-click="mainKoolets.showLeftMenu()">
			<i class="fa fa-bars"></i>
		</md-button>
			<span flex></span>
		 <a href="#" class="nav-brand" >koolets</a>
			<span flex></span>
           <md-button class="md-icon-button" aria-label="settings" hide-gt-md ng-click="mainKoolets.actionSettings()">
			<i class="fa fa-ellipsis-v"></i>
		</md-button>
		 </div>
        </header>
        <section >
          <!-- user -->
          <div class="bg-success nav-user hidden-xs pos-rlt" >
            <div >
                <img  ng-src="{{mainKoolets.profileUrl}}{{mainKoolets.user_id}}/64" alt="" class="avatar thumb-sm">
				
            </div>
		
            <div class="nav-msg">
              
              <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                <div class="arrow left"></div>
                <section class="panel bg-white">
                  <header class="panel-heading">
                    <strong>You have <span class="count-n">2</span> notifications</strong>
                  </header>
                  <div class="list-group">
                    <a href="#" class="media list-group-item">
                      <span class="pull-left thumb-sm">
                        <!--image remove-->
                      </span>
                      <span class="media-body block m-b-none">
                        Use awesome animate.css<br>
                        <small class="text-muted">28 Aug 13</small>
                      </span>
                    </a>
                    <a href="#" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        1.0 initial released<br>
                        <small class="text-muted">27 Aug 13</small>
                      </span>
                    </a>
                  </div>
                  <footer class="panel-footer text-sm">
                    <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                    <a href="#">See all the notifications</a>
                  </footer>
                </section>
              </section>
            </div>
          </div>
          <!-- / user -->
          <!-- nav -->
          <nav class="nav-primary hidden-xs">
            <ul class="nav">
			
			
              <li class="">
                <a href="#/discovery" md-ink-ripple>
                    <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-danger fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-eye fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>&nbsp
                  <span >Discover</span>
                </a>
              </li>
          
              <li class="dropdown-submenu">
                <a href="#/events" md-ink-ripple>
          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-info fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-glass fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>&nbsp
                  <span>Events</span>
                </a>
          </li>

              <li class="dropdown-submenu">
                <a href="#/messages" md-ink-ripple>
               <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-success fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-file-o fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>&nbsp
                  <span>Messages</span>
                </a>
            
              </li>
           
        
              <li>
                <a href="#/pods" md-ink-ripple>
             <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-danger fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-users fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>&nbsp
                  <span>Pods</span>
                </a>
              </li>
			
            </ul>
          </nav>
          <!-- / nav -->
      
        </section>

      </section>
    </aside>
	

		<md-sidenav class="md-sidenav-left md-whiteframe-z2 " md-component-id="left-menu"  id="mobileSideMenu">
			<md-toolbar  id="customToolbar-1">
			<div class="md-toolbar-tools">
				<h3>koolets</h3>
			</div>
			</md-toolbar >
			
			<md-toolbar>
		
			<div class="md-toolbar-tools md-whiteframe-z2" id="customBackground-2">
			 
			  <img ng-src="{{mainKoolets.profileUrl}}{{mainKoolets.user_id}}/64" class="custom-avatar animated rollIn" />
			  
			
			 <span flex></span>
			  <span id="thin-span-label">{{kooletsMods.FullName}}</span>
			</div>
		
			</md-toolbar>
			
				<md-content>
					<md-list>
				
						<md-list-item ng-click="mainKoolets.discovery()" style="background-color:white">
						
					
							<span><i class="fa fa-eye text-muted"></i>&nbsp&nbspDiscovery</span>
						
						</md-list-item>
						<md-list-item ng-click="mainKoolets.events()" style="background-color:white">
							
						
							<span><i class="fa fa-glass text-muted"></i>&nbsp&nbspEvents</span>
							
						</md-list-item>
						<md-list-item ng-click="mainKoolets.message()" style="background-color:white">
							
					
							<span><i class="fa fa-envelope text-muted"></i>&nbsp&nbspMessages</span>
							
						</md-list-item>
						<md-list-item ng-click="mainKoolets.pods()" style="background-color:white">
							
				
							<span><i class="fa fa-group text-muted"></i>&nbsp&nbspPods</span>
						
						</md-list-item>
						
					</md-list>
				</md-content>
		</md-sidenav>
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
		<section >
			<ng-view></ng-view>
          </section>
      </section>
     
    </section>
    <!-- /.vbox -->
  </section>
 
 </body>
   <script src="http://maps.google.com/maps/api/js"></script>
   
   <script type="text/javascript" src="public/hashing/sha3.js"></script>
    <script type="text/javascript" src="public/markerwithlabel.js"></script>
	
	
 <script type="text/javascript" src="public/jquery-1.11.3.js"></script>
 
  <script type="text/javascript" src="public/plugin/app.data.js"></script>
  <script type="text/javascript" src="public/plugin/app.plugin.js"></script>
    <script type="text/javascript" src="public/plugin/app.js"></script>
 
 
 
 	<script type="text/javascript" src="public/select2/select2.min.js"></script>
	 	<script type="text/javascript" src="public/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="public/fuelux/fuelux.js"></script>

  <script type="text/javascript" src="public/angular-1.3/angular.js"></script>
  <script type="text/javascript" src="public/angular-1.3/angular-animate.js"></script>
  <script type="text/javascript" src="public/angular-1.3/angular-aria.js"></script>
  <script type="text/javascript" src="public/angular-1.3/angular-messages.js"></script>
  <script type="text/javascript" src="public/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="public/angular-1.3/angular-route.js"></script>
  <script type="text/javascript" src="public/angular-ui-router/angular-ui-router.js"></script>
  <script type="text/javascript" src="public/angular-local-storage/angular-local-storage.js"></script>
  <script type="text/javascript" src="public/ui-bootstrap-tpls-0.12.0.js"></script>
  <script type="text/javascript" src="public/ngMap/ng-map.min.js"></script>
  <script type="text/javascript" src="public/ng-file-upload/ng-file-upload.min.js"></script>

    <script type="text/javascript" src="public/imageCrop/image-crop.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/application-router.js"></script>
  <script type="text/javascript" src="js/koolets.js"></script>
   <script type="text/javascript" src="js/koolets_directives.js"></script>
  <script type="text/javascript" src="templates/login/js/login.js"></script>
  <!--Pods -->
  <script type="text/javascript" src="templates/pods/js/pods.js"></script>
  <script type="text/javascript" src="templates/pods/js/pods_services.js"></script>
  <script type="text/javascript" src="templates/pods/js/joined_pods.js"></script>
  <script type="text/javascript" src="templates/pods/js/created_pods.js"></script>
  <script type="text/javascript" src="templates/pods/js/create_new_pod.js"></script>
   <script type="text/javascript" src="templates/pods/js/detail_pods.js"></script>
   <script type="text/javascript" src="templates/pods/js/map_pods.js"></script>
   <script type="text/javascript" src="templates/pods/js/settings_pods.js"></script>
   <script type="text/javascript" src="templates/pods/js/pod_subadmin.js"></script>
   <script type="text/javascript" src="templates/pods/js/pod_members.js"></script>
   <script type="text/javascript" src="templates/pods/js/setting_subadmins.js"></script>
   <script type="text/javascript" src="templates/pods/js/setting_members.js"></script>
    <script type="text/javascript" src="templates/pods/js/pod_invitees.js"></script>
 <script type="text/javascript" src="templates/pods/js/setting_invitee.js"></script>
 <script type="text/javascript" src="templates/pods/js/pod_required_field.js"></script>
  <script type="text/javascript" src="templates/pods/js/pod_approval.js"></script>
   <!--//End pods -->
	
	 
	<!--Registration-->
	<script type="text/javascript" src="templates/register/js/register.js"></script>
	<!--End Registration-->
	
   <!--Events-->
   
   <script type="text/javascript" src="templates/events/js/events.js"></script>
   <script type="text/javascript" src="templates/events/js/events_services.js"></script>
   <script type="text/javascript" src="templates/events/js/event_detail.js"></script>
   <script type="text/javascript" src="templates/events/js/event_settings.js"></script>
    <script type="text/javascript" src="templates/events/js/event_members.js"></script>
    <script type="text/javascript" src="templates/events/js/events_joined.js"></script>
  <script type="text/javascript" src="templates/events/js/event_invitee.js"></script>
    <script type="text/javascript" src="templates/events/js/event_invitee_setting.js"></script>
	
   <!--//End events-->
   
   
   <!--discovery-->
	<script type="text/javascript" src="templates/discovery/js/discovery.js"></script>
	<script type="text/javascript" src="templates/discovery/js/discovery_service.js"></script>
   <!--End discovery-->
   
   <!-- profile -->
   <script type="text/javascript" src="templates/profile/js/profile_service.js"></script>
    <script type="text/javascript" src="templates/profile/js/profile_settings.js"></script>
	  <script type="text/javascript" src="templates/profile/js/profile_detail.js"></script>
	 <script type="text/javascript" src="templates/profile/js/profile_view.js"></script>
   <!-- End profile -->


   <script type="text/javascript" src="templates/components/profile/component_profile.js"></script>
	  
 </html>
