<md-dialog>

	<md-dialog-content>
	
        <i class="fa fa-times pull-right" ng-click="closeUpload()"></i> 
	
  <div class="panel-body bg-white">

 <center>
   
	<md-card>
		 <img ngf-src="podBanner[0]" ng-show="previewPodPic" />
	</md-card>
    <div  ng-show="previewPodPic">
        
		  <md-progress-linear class="md-warn" md-mode="buffer" value="{{progressUpload}}" md-buffer-value="{{progressUpload}}">
			</md-progress-linear>
    </div>
    <a class="thumb-md avatar animated bounceIn" >
		<i class="fa fa-camera fa-4x icon-muted" ng-show="showDefaultPod"></i>
	</a>
    <br/>
    <md-button class="md-raised" ngf-select ng-model="podBanner" ng-change="podBannerChange($files)" ngf-multiple="false" ngf-accept="'image/*'">Browse Photo</md-button>
      <md-button class="md-raised" ng-show="uploadShow" ng-click="podBannerUpload()">Upload</md-button>
 </center>
  </div>


	</md-dialog-content>
</md-dialog>
