<section class="vbox">
 <header class="header bg-dark">
	<p>Discovery</p>
<account-dropmenu></account-dropmenu>
	 
	 
 </header>
  <section>
	
	<div id="discoveryMap" style="position:absolute; width:100%; height:100%;">
	</div>
	
	
  </section>
</section>
