<md-dialog>
 <md-dialog-content>
 <section class="panel wrapper">
	<header class="panel-heading">Do you want to upload photo for this event?</header>
	<!-- <div class="panel-body">
			<center><img ngf-src="profilePicture[0]" ng-show="newProfile" height=140 width=140/></center><br/>
			<center><i class="fa fa-camera" style="font-size: 10em" ng-show="imageIcon"></i></center>
			   <center>
              
              </center>
			 <center>  <div class="btn btn-primary btn-xs" ngf-select ng-model="profilePicture" ngf-change="profilePicChange($files)" ngf-multiple="false" ngf-accept="'image/*'">Browse photo</div></center>
	</div><br/> -->
	<div style="width:210px">
                   <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-info" style="width:{{progressUpload}}%">
                      </div>
                    </div>
                 </div>
      <image-crop data-width=300 data-height=300 data-shape="square" data-result="croppedImage" data-step="imageCropStep"></image-crop>
<!-- 	<footer class="footer">
		<div class="pull-right"><button class="btn btn-primary btn-xs" disabled="disabled" ng-click="uploadProfile()" id="profileUpload">Upload</button>&nbsp<button class="btn btn-primary btn-xs" ng-click="">Cancel</button></div>
	</footer> -->
</section>
 </md-dialog-content>
</md-dialog>

<!--  <a href="#" class=" thumb-sm avatar border m-r" style="width:40px; height:40px">
                            <img src="images/avatar.jpg" class="img-circle">
                          </a> -->

   <!-- { file: 
      { domain: null,
        _events: {},
        _maxListeners: undefined,
        size: 7743,
        path: '/tmp/upload_3eb595842391e5caf61f4494d01166ab',
        name: '1209656-Cartoon-Of-A-Happy-Boy-Pointing-To-His-Reflection-In-The-Mirror-Royalty-Free-Vector-Clipart.jpg',
        type: 'image/jpeg',
        hash: null,
        lastModifiedDate: Sat Jul 11 2015 18:07:34 GMT+0000 (UTC),
        _writeStream: [Object] } } } -->