<section class="wrapper">
              <div class="text-center clearfix">
                <md-button class="md-raised" id="customBackground-2" ng-click="detailEvent.joinEvent()"><i class="fa fa-plus"></i> Join Event</md-button>
               
              </div>

             
              <div class="list-group bg-white" ng-click="goMapEvent(EVT_DETAIL.event_location[0].latitude, EVT_DETAIL.event_location[0].longitude)">
              
                   <a  class="list-group-item text-ellipsis">
                  <i class="fa fa-road"></i>
                  <b>{{detailEvent.Event.event_location[0].address}}</b>
                </a>
                  <a  class="list-group-item text-ellipsis">
                  <i class="fa fa-flag-o"></i>
                  <b>{{detailEvent.Event.event_location[0].country}}</b>
                </a>
              </div>
    </section>     