    <section class="panel">
                  <div class="panel-body">
                    <div class="clearfix text-center m-t">
                      <div class="inline">
                 
                         
						  <md-card class="thumb-lg">
							 <img ng-src="{{detailEvent.eventUrl}}{{detailEvent.Event._id}}" />
						  </md-card>
                      
                        
                                       
                    </div>
                  </div>
           
                </section>