<div class="row" >
<img ng-src="{{detailEvent.eventUrl}}{{detailEvent.Event._id}}" style="position:absolute;width:100%; -webkit-filter:blur(10px)"/>	
	<div class="col-md-6 col-md-offset-3"  >
								<div class="row"  >
								 <div >
								  <md-button ng-click="detailEvent.edit(detailEvent.Event._id)" class="md-accent md-fab md-fab-top-right" ng-if="detailEvent.Event.event_admin == detailEvent.evt_min">
									<md-tooltip>
									 Edit event
									</md-tooltip>
									<i class="fa fa-gear" style="font-size:20px; margin-top:18px"></i>
								</md-button>
														<section class="panel">
                  <div class="panel-body" ">
                    <div class="clearfix text-center m-t">
                      <div class="inline ">
                        <div class="easypiechart easyPieChart" data-percent="75" data-line-width="5" data-loop="false" data-bar-color="#92cf5c" data-track-color="#f5f5f5" data-scale-color="false" data-size="150" style="width: 150px; height: 150px; line-height: 150px;">
                          <div class="thumb-lg">
                             <a href="#" >
                            <img ng-src="{{detailEvent.eventUrl}}{{detailEvent.Event._id}}" />
                          </a>
                          </div>
                        <canvas width="150" height="150"></canvas></div>
                        <div class="h4 m-t m-b-xs">{{detailEvent.Event.event_title}}</div>
                        <small class="text-muted m-b">{{detailEvent.Event.event_category}}</small>
						
                      </div>                      
                    </div>
		<center>
		 <md-button class="md-raised" id="customBackground-2" ng-click="detailEvent.joinEvent()">
			<span class="text-white">Join</span>
		 </md-button>
		</center>
                  </div>
				  <section class="panel ">
                    <div class="panel-body">
                     
                      <div class="pull-in bg-light clearfix m-b-n">
                        <p class="m-t-sm m-b text-center animated bounceInDown">
                          <i class="fa fa-map-marker text-danger fa fa-4x" data-toggle="tooltip" title="" data-original-title="checked in at Newyork"></i>
                        </p>
                      </div>
                    </div>
                    <footer class="panel-footer pos-rlt">
                     <center> <span class="arrow top"></span>
                      <span>{{detailEvent.Event.event_location[0].address}}</span>
                    </footer></center>
                  </section>
                  <footer class="panel-footer bg-dark lter text-center">
                    <div class="row pull-out">
                      <div class="col-xs-6">
                        <div class="padder-v">
                          <span class="m-b-xs h4 block">{{detailEvent.inviteeCount}}</span>
                         <a ng-click="detailEvent.viewInvitees()"> <small class="text-muted">Invitee</small></a>
                        </div>
                      </div>
                      <div class="col-xs-6 bg-success">
                        <div class="padder-v">
                          <span class="m-b-xs h4 block">{{detailEvent.eventMembersCount}}</span>
                          <a  ng-click="detailEvent.viewMembers()"><small class="text-muted">Members</small></a>
                        </div>
                      </div>
                     
                    </div>
                  </footer>
                </section>
									
									<div class="panel-body bg-white">                      
                   
                        
					<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-info fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-bars fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a  class="text-muted"><strong class="ng-binding">{{detailEvent.Event.event_description}}</strong></a>
                         
                        </div>
                      </div>	
					
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-primary fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-glass fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a class="text-muted"><strong class="ng-binding">{{detailEvent.Event.event_category}}</strong></a>
                         
                        </div>
                      </div>
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-primary fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-glass fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a class="text-muted"><strong class="ng-binding">{{detailEvent.Event.event_type}}</strong></a>
                         
                        </div>
                      </div>
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-primary fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-glass fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a  class="text-muted"><strong class="ng-binding">{{detailEvent.Event.event_event}}</strong></a>
                         
                        </div>
                      </div>
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-primary fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-glass fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a  class="text-muted"><strong class="ng-binding">{{detailEvent.Event.event_infoType}}</strong></a>
                         
                        </div>
                      </div>
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-warning fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-money fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a class="text-muted"><strong class="ng-binding">{{detailEvent.Event.event_price[0]}}</strong></a>
                         
                        </div>
                      </div>	
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-success fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-envelope fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a class="text-muted"><strong class="ng-binding">{{detailEvent.Event.event_appLimit}}</strong></a>
                         
                        </div>
                      </div>	
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-danger fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-bell fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a class="text-muted"><strong class="ng-binding">{{detailEvent.eventStart}}</strong></a>
                         
                        </div>
                      </div>
		<div class="clearfix m-b">
                       <i class="fa fa-circle text-danger  pull-right m-t-xs"></i>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <span class="fa-stack pull-left m-l-xs">
                            <i class="fa fa-circle text-danger fa-stack-2x" style="font-size:2em"></i>
                            <i class="fa fa-bell fa-stack-1x text-white" style="font-size:1em"></i>
                          </span>
                        </a>
                        <div class="clear">
                          <a class="text-muted"><strong class="ng-binding">{{detailEvent.eventEnd}}</strong></a>
                         
                        </div>
                      </div>					  
                    </div>		
									
								 </div>
								 
								</div>
							</div>
									