#LoginContainer{
	margin-top:50px;
}

#customToolbar-1{
	background-color:#594f8d;
}

#customBackground-1{
	background-color:#594f8d;
}

#customBackground-2{
	background-color: #92cf5c;
}


#customBackground-3{
	background-color: #FF4081;
}

#custom-button-1{
	background-color: #594f8d;
}



#button-label-w{
	color: white;
}

#button-label-f{
	color: #FF4081;
}


.custom-avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#thin-span-label{
	font-size: 15px
}

#profile-input-label-1{
	color:#5dcff3
}

.circleMusic {

  background: #92cf5c;
  box-shadow: 2px 2px 4px #333;
  border:3px solid #594f8d;
  height:30px;
  width: 30px;
  
  border-radius: 20px;

}


.circleSport {

  background:#5dcff3;
  box-shadow: 2px 2px 4px #333;
  border:3px solid #92cf5c;
  height:30px;
  width: 30px;
  
  border-radius: 20px;

}

#mobileSideMenu {

	visibility : hidden;
}

@media screen and (max-width: 400px) {
	
	#mobileSideMenu{
		visibility: visible;
	}

}

#desktopSideMenu {

	display : hidden;

}

a:hover  {
	cursor : pointer
}




.img-element-section {
	max-height:100%;

  min-width:113%;
  min-height:100%;
    position: absolute;
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
}

.aboveblur {
    position: absolute;
 
}


.grayfontsmall{
	color: #AEB2B5;
}

.whitefontbig{
	color: white;
}

.icon-light-gray{
	color: #FeFefe;
}


.material-icons.green38B { color: #38B789; }

.material-icons.white { color:white;}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }