
<md-content layout-padding style="height:auto;padding: 24px;">

          
<md-input-container>
      <label>Email</label>
      <input ng-model="ComponentProfile.koolets_user.email" type="email" disabled>
    </md-input-container>
          
<md-input-container>
      <label>Phone</label>
      <input ng-model="ComponentProfile.koolets_user.mobile" type="text" disabled>
 </md-input-container>
        
          
  
       
  

</md-content>
