<md-content layout-padding style="height:auto;padding: 24px;">

          
<md-input-container>
      <label>Last Name</label>
      <input ng-model="ComponentProfile.koolets_user.lname" type="input" disabled>
    </md-input-container>
          
          
     
        
          
<md-input-container>
      <label>First Name</label>
      <input ng-model="ComponentProfile.koolets_user.fname" type="input" disabled>
    </md-input-container>
        
          
        
 <md-input-container>
      <label>Middle Name</label>
      <input ng-model="ComponentProfile.koolets_user.mname" type="input" disabled>
 </md-input-container>

  <md-input-container>
      <label>Birth Date</label>
      <input ng-model="ComponentProfile.koolets_user.birthdate | date: 'MMMM dd, yyyy' " type="input" disabled>
  </md-input-container>

  <md-input-container>
      <label>Gender</label>
      <input ng-model="ComponentProfile.koolets_user.gender=='m' || ComponentProfile.koolets_user.gender=='M' ?'Male':'Female'" type="input" disabled>
  </md-input-container>
       
  

</md-content>
