<aside class="bg-white">
    <section class="vbox">
    <header class="header bg-light bg-gradient">
        <ul class="nav nav-tabs nav-white">
            <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
            <li class=""><a href="#events" data-toggle="tab">Events</a></li>
            <li class=""><a href="#interaction" data-toggle="tab">Interaction</a></li>
        </ul>
    </header>

    <div class="tab-content">
    <div class="tab-pane active" id="activity">
    <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">


    <li class="list-group-item" href="#email-content" data-toggle="class:show">
        <a href="#" class="thumb-sm pull-left m-r-sm">
            <img src="images/avatar_default.jpg" class="img-circle">
        </a>
        <a href="#" class="clear">
            <small class="pull-right">3 minuts ago</small>
            <strong class="block">Drew Wllon</strong>
            <small>Vestibulum ullamcorper sodales nisi nec sodales nisi nec sodales nisi nec...</small>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="thumb-sm pull-left m-r-sm">
            <img src="images/avatar.jpg" class="img-circle">
        </a>
        <a href="#" class="clear">
            <small class="pull-right">1 hour ago</small>
            <strong class="block">Jonathan George</strong>
            <small>Morbi nec nunc condimentum...</small>
        </a>
    </li>


    </ul>
    </div>
    <div class="tab-pane" id="events">
        <div class="text-center wrapper">
            <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
        </div>
    </div>
    <div class="tab-pane" id="interaction">
        <div class="text-center wrapper">
            <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
        </div>
    </div>
    </div>

    </section>
    </aside>