<div layout="row" >

    <table>
        <tr><td style="padding-left: 2px;"><div class="thumb-md animated rollIn">
            <img ng-src="{{ComponentProfile.photo_url}}/64" class=" avatar border l-r "></div></td>
         <td><div class="h3 m-t-xs m-b-xs">&nbsp;{{ComponentProfile.koolets_user.fname}}&nbsp; {{ComponentProfile.koolets_user.lname}}
         </div>&nbsp;<span class="pull-left"><i class="fa fa-fw fa-map-marker text-danger">&nbsp;</i>Philippines</span>
         </td></tr>
    </table>

</div>
