<div layout="row" layout-wrap><br>&nbsp;
    <div flex="none">
    <table>
        <tr>
            <td><a class="btn-link" href="#">
                <span class="fa-stack fa-lg ">
  <i class="fa fa-circle-thin fa-stack-2x "></i>
  <i class="fa fa-users fa-stack-1x text-danger"></i>
</span><span class="label bg-white"> {{ComponentProfile.podCount.size}}</span></a>
            </td>
            <td>
                <a class="btn-link" href="#"> <span class="fa-stack fa-lg">
  <i class="fa fa-circle-thin fa-stack-2x "></i>
  <i class="fa fa-glass fa-stack-1x text-info"></i>
</span><span class="label bg-white"> {{ComponentProfile.podCount.size}}</span></a>
            </td>



        </tr>

    </table>

</div>

</div>