		<div class="col-sm-6 col-md-offset-3">
                  <form class="md-whiteframe-z2" ng-submit="newEvent.create()">
                    <section class="panel">
                      <header class="panel-heading">
                       <span><i class="fa fa-plus"></i>&nbspNew Event</span>
                      </header>
                      <div class="panel-body">
                          <md-input-container>
                            <label>Event title</label>
                            <input type="text"  data-ng-model="newEvent.event_title" ng-required="true">
                          </md-input-container>

                          <md-input-container>
                            <label>Event description</label>
                            <textarea data-ng-model="newEvent.event_description"></textarea>
                          </md-input-container>
                               <div class="form-group">
                             
						 <md-checkbox ng-change="checkInStatus()" ng-model="checkInState" ng-disabled="checkboxToggle" ng-click="newEvent.checkInMap()">
                          Check In
                        </md-checkbox>
						
						 
						  <md-input-container>
							<label>Search location</label>
                          <input type="text" class="form-control" ng-model="newEvent.eventLocation" typeahead="newEvent.locationSelected(location) as location.formatted_address for location in newEvent.eventTypeahead | limitTo:6" typeahead-min-length=3 />
                          
                        </md-input-container>
								
							   </div>
                <div class="form-group col-sm-6">
                   
                     <md-input-container>
					  <label>Start App</label>
					<input type="date" ng-model="newEvent.evtStartApp" class="form-control ng-pristine ng-untouched ng-valid" id="startApp" tabindex="0" aria-invalid="false" required>
              
					</md-input-container>
                  </div>
                    <div class="form-group col-sm-6">
                  
                     <md-input-container>
					   <label>End App</label>
						<input type="date" class="form-control ng-pristine ng-untouched ng-valid" ng-model="newEvent.evtEndApp" id="endApp" tabindex="0" aria-invalid="false" ng-required="true">
					</md-input-container>
                  </div>
                   <div class="form-group col-sm-6">
                    <md-input-container>
					<label>Price</label>
                    <input type="number" ng-model="newEvent.event_price" class="form-control ng-pristine ng-untouched ng-valid" tabindex="0" aria-invalid="false" ng-required="true">
					</md-input-container>
                  </div>

              

                   <div class="form-group col-sm-6">
					<md-input-container>
					     <label>Participants Limit</label>
                    <input type="number" ng-model="newEvent.event_appLimit" class="form-control ng-pristine ng-untouched ng-valid" tabindex="0" aria-invalid="false" ng-required="true">
					</md-input-container>
                  </div>
                  <div class="form-group">
                           <div class="col-sm-6">
						   
                          <md-select placeholder="Select Info" data-ng-model="newEvent.eventCategory.infotype" ng-required="true">
								<md-option ng-repeat="infotype in newEvent.infoType" value="{{infotype[0]}}">{{infotype[0]}}</md-option>
							</md-select> 
                          </div>
               <div class="col-sm-6">
                           <md-select placeholder="Select category" data-ng-model="newEvent.eventCategory.category" ng-required="true">
								<md-option ng-repeat="category in newEvent.category" value="{{category}}">{{category}}</md-option>
							</md-select>   
                          </div>  
                  </div>
                  <br>
                              <div class="form-group">
                          <div class="col-sm-6">
                            <md-select placeholder="Select type" data-ng-model="newEvent.eventCategory.type" ng-required="true">
								<md-option ng-repeat="type in newEvent.type" value="{{type}}">{{type}}</md-option>
							</md-select> 
                          </div>
                          <div class="col-sm-6">
                          <md-select placeholder="Select event" data-ng-model="newEvent.eventCategory.event" ng-required="true">
								<md-option ng-repeat="event in newEvent.event" value="{{event}}">{{event}}</md-option>
							</md-select>   
                          </div>   
                        </div>

                <div class="form-group">
				       
                <div class="col-sm-12">
				 <md-checkbox ng-model="newEvent.eventPrivate" ng-change="newEvent.privateEvent()">
                          Private event
                    </md-checkbox>
					
							<!--typeahead invitee-->
							<div class="row " ng-show="newEvent.eventInviteeContainer">
		
				               <div layout layout-sm="column">
              <div class="input-group" id="subAdminContainer">

				<input type="text" 
					class="form-control" 
					ng-change="newEvent.inviteeSearch()" 
					placeholder="Invitee" 
					ng-model="newEvent.eventInviteeAdd"
					typeahead="newEvent.inviteeEvent(result) as result.lname + ',' + result.fname for  result in newEvent.resultSearched"
					typeahead-template-url="customSearch.html"
					typeahead-min-length=2 />

					<span class="input-group-btn">
						<button class="btn btn-white" type="button" ng-click="newEvent.addInvitee()">
							<i class="fa fa-plus"></i>
						</button>
					</span>
			</div>
                          </div>
						  
						  <div class="form-group" id="subAdminContainer" >
                          <div>
							<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
							<li class="list-group-item" ng-repeat="subs in newEvent.invitee" ng-click="newEvent.removeInvitee($index) ">
							  <a class="thumb-xs pull-left m-r-sm">
							  <img  ng-src="{{newEvent.profile_url}}{{subs.idkoolets_user}}/28" class="thumb-md avatar">
							  </a>
							  <a class="clear">
							  <small class="pull-right"><i class="fa fa-times"></i></small>
								<strong>{{subs.lname}},{{subs.fname}}</strong>
								<span></span>
							 </a>
							</li>
						</ul>						
							</div>
                        </div>
			 
			</div>
					<!--typeahead invitee-->
				</div>
				
		
				</div>
				
				
                          
                      </div>
                      <footer class="panel-footer text-right bg-light lter">
                        <md-button class="md-raised" ><span>Create event</span></md-button>
                      </footer>
                    </section>
                  </form>
                </div>
								<script type="text/ng-template" id="customSearch.html">

<a tabindex="-1">
<img ng-src="http://ec2-52-74-230-113.ap-southeast-1.compute.amazonaws.com:9001/getUserProfilePic/{{match.model.idkoolets_user}}/28" class="avatar thumb-sm" />
<span  bind-html-unsafe="match.label | typeaheadHighlight:query"></span>

</a>

</script>