<section class="vbox bg-white">
 <header class="header bg-dark ">
 <account-dropmenu></account-dropmenu>	
	<p>Event settings</p>
 </header>
  <section class="scrollable wrapper">
  
	<div class="col-md-6 col-md-offset-3">
	  <form >
	  
	  
                    <section>
                  
                      <div >
							<md-card>
		 <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<img ng-src="{{settingEvent.eventUrl}}" />
					</div>
				 </div>
				 <md-card-content>
					 <center> <md-button ng-click="settingEvent.newBannerPhoto($event)" class="md-accent md-fab" ng-if="detailEvent.Event.event_admin == detailEvent.evt_min">
									<md-tooltip>
									 Edit event
									</md-tooltip>
									<i class="fa fa-upload" style="font-size:20px; margin-top:18px"></i>
								</md-button></center><br/>
				 </md-card-content>
			</md-card>

							   
        
						
                        <md-input-container>
                          <label>Event Title</label>
                          <input type="text"   text-muted" ng-model="settingEvent.editForm.event_title">                        
                        </md-input-container>
                        <md-input-container>
                          <label>Event Description</label>
                         <textarea class="form-control text-muted" ng-model="settingEvent.editForm.event_description"></textarea>                       
                        </md-input-container>
						
						 <md-checkbox ng-change="checkInStatus()" ng-model="checkInState" ng-disabled="checkboxToggle" ng-click="settingEvent.checkInMap()">
                          Check In
                        </md-checkbox>
						
						 
						  <md-input-container>
							<label>Search location</label>
                          <input type="text" class="form-control" ng-model="settingEvent.editForm.event_location[0].address" typeahead="settingEvent.locationSelected(location) as location.formatted_address for location in settingEvent.eventTypeahead | limitTo:6" typeahead-min-length=3 />
                          
                        </md-input-container>
						
						
                           <div class="form-group pull-in clearfix">
                          <div class="col-sm-6">
						  <md-select placeholder="Select Info" data-ng-model="settingEvent.editForm.event_infoType">
								<md-option ng-repeat="infotype in settingEvent.infoType" value="{{infotype[0]}}">{{infotype[0]}}</md-option>
							</md-select> 
                          </div>
                          <div class="col-sm-6">
						<md-select placeholder="Select category" data-ng-model="settingEvent.editForm.event_category">
								<md-option ng-repeat="category in settingEvent.category" value="{{category}}">{{category}}</md-option>
							</md-select> 						
                          </div>   
                        </div>
                           <div class="form-group pull-in clearfix">
                          <div class="col-sm-6">
					  <md-select placeholder="Select type" data-ng-model="settingEvent.editForm.event_type">
								<md-option ng-repeat="type in settingEvent.type" value="{{type}}">{{type}}</md-option>
							</md-select> 
                          </div>
                          <div class="col-sm-6">
						   <md-select placeholder="Select event" data-ng-model="settingEvent.editForm.event_event">
								<md-option ng-repeat="event in settingEvent.event" value="{{event}}">{{event}}</md-option>
							</md-select> 
                          </div>   
                        </div>
                          <div class="form-group pull-in clearfix">
                          <div class="col-sm-6">
						   <md-input-container>
                            <label>Price</label>
                            <input type="text" class="form-control parsley-validated text-muted" ng-model="settingEvent.editForm.event_price">   
							 </md-input-container>
                          </div>
                          <div class="col-sm-6">
						   <md-input-container>
                            <label>App Limit</label>
                            <input type="text" class="form-control parsley-validated text-muted" ng-model="settingEvent.editForm.event_appLimit">    
								 </md-input-container>
                          </div>   
                        </div>
                        <div class="form-group pull-in clearfix">
                          <div class="col-sm-6">
						   <md-input-container>
                            <label>Start App&nbsp(YYYY-MM-DD)</label>
                            <input type="date" id="startApp" class="form-control parsley-validated  text-muted" ng-model="settingEvent.EVT_STARTAPP">   
							 </md-input-container>
                          </div>
                          <div class="col-sm-6">
						   <md-input-container>
                            <label>End App&nbsp(YYYY-MM-DD)</label>
                            <input type="date" id="endApp" class="form-control parsley-validated text-muted" ng-model="settingEvent.EVT_ENDAPP">  
								 </md-input-container>
                          </div>   
                        </div>
                 
						 <md-checkbox ng-change="checkInStatus()" ng-model="settingEvent.editForm.event_private" >
                          Private event
                        </md-checkbox>
						
						<div class="btn-group btn-group-justified" role="group" aria-label="invitee" ng-show="settingEvent.inviteeEventPrivate ">
						  <div class="btn-group" role="group">
							<button type="button" class="btn btn-default" ng-click="settingEvent.eventPrivateInvitee()"><i class="fa fa-group"></i>&nbspInvitee</button>
						  </div>
						  
						</div>
					 </div>
                      <footer class="panel-footer text-right bg-light lter">
                    <md-button class="md-raised" ng-click="settingEvent.save()" id="customBackground-2"><span>Save Changes</span></md-button>
                      </footer>
                    </section>
                  </form>
	</div>
  
  </section>
</section>