<section class="vbox">
 <header class="header bg-dark">
   	<account-dropmenu></account-dropmenu>	
  <ul class="nav nav-tabs">
        <li class="">
         <a style="cursor:pointer" md-ink-ripple href="#/events">All</a>
         </li>
        <li class="">
          <a style="cursor:pointer" md-ink-ripple href="#events-joined">Joined</a>
         </li>
        <li class="">
           <a style="cursor:pointer" md-ink-ripple >Create event</a>
        </li>
     </ul>
 </header>
  <section class="scrollable wrapper">
   <!--create event-->
		<event-create-form ></event-create-form>
	<!--//End create event-->
  </section>
</section>