<section class="vbox bg-white">
<header class="header bg-dark navbar">
 
	<account-dropmenu></account-dropmenu>	
	  <ul class="nav nav-tabs pull-right" hide-gt-md>
      
               <li class="">
                 <a style="cursor:pointer" md-ink-ripple ng-click="switchMobileView('tile')"><i class="glyphicon glyphicon-th"></i></a>
               </li>
              <li class="">
                  <a style="cursor:pointer" md-ink-ripple ng-click="switchMobileView('list')"><i class="glyphicon glyphicon-list"></i></a>
             </li>
        </ul>
	 
  <ul class="nav nav-tabs">
        <li class="">
             <a style="cursor:pointer" md-ink-ripple >All</a>
              </li>
               <li class="">
                 <a style="cursor:pointer" md-ink-ripple href="#/events-joined">Joined</a>
               </li>
              <li class="">
                  <a style="cursor:pointer" md-ink-ripple href="#/event-create">Create</a>
             </li>
        </ul>
				
		
			
       </header>
	   
	      <section class="scrollable wrapper">
		
					<div ng-switch on="eventView">
						
							<div ng-switch-when="tile">
								<div class="col-md-8 col-md-offset-2">
								  <div class="row">
								    <div class="col-md-4"  ng-repeat="event in appEvents.events">
										<section class="panel wrapper">
										<span>{{event.event_location[0].country}}</span>
										  <md-card>
										       <img ng-src="{{appEvents.urlBanner}}{{event._id}}/160" height="150">
										<md-card-content class="wrapper">
											 <a  class="h5" style="display:block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; width:200px" ng-click="appEvents.detail(event._id)" >{{event.event_title}}</a>
											 <span class="label bg-success">Start</span>&nbsp<span>Sep 9,2015</span>
											 <span class="label bg-primary">End</span>&nbsp<span>Sep 9,2015</span>
										</md-card-content>
										   </md-card>
									
										   <md-button class="md-raised" ng-click="appEvents.joinEvent(event._id)">
										    <span >Join</span>
										   </md-button>
										</section>
									</div>
								  </div>
								</div>
							</div>
						<div ng-switch-when="list">
				<article class="media" ng-repeat="event in appEvents.events">
                      <span class="pull-left thumb-sm"><img ng-src="{{appEvents.urlBanner}}{{event._id}}/160" class="img-circle"></span>
                      <div class="media-body">
                        <div class="pull-right media-xs text-center text-muted">
                       <span class="fa-stack pull-left m-l-xs"  ng-click="appEvents.joinEvent(event._id)">
                            <i class="fa fa-circle text-muted fa-stack-2x" style="font-size:3em"></i>
                            <i class="fa fa-plus-square text-white" style="font-size:20px; margin-left:6px;margin-top:8px"></i>
                          </span>
                        </div>
                        <a  class="h4" ng-click="appEvents.detail(event._id)">{{event.event_title}}</a>
                        <small class="block"><a href="#" class="">{{event.event_location[0].country}}</a> <span class="label label-success">Circle</span></small>
                      
                      </div>
					  <div class="line pull-in"></div>
                    </article>
					
						</div>
					
					</div>
		</section>
</section>