<section class="vbox">
 <header class="header bg-dark">
  <account-dropmenu></account-dropmenu>	
    <form class="navbar-form navbar-left m-t-sm" role="search">
              <div class="form-group">
               <div class="input-group input-s" >

		<input type="text" class="form-control" ng-change="subAdminSearch()" placeholder="Invitee" ng-model="podAdminAdd" typeahead="subAdminPod(result) as result.lname + ',' + result.fname for  result in resultSearched" typeahead-template-url="customSearch.html" typeahead-min-length=2>
					<span class="input-group-btn">
						<button class="btn btn-success " type="button" ng-click="addAdmin()">
						<i class="fa fa-plus"></i>
					</button>
					</span>
				</div>
              </div>
		
            </form>
 </header>
  <section>
     <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
                <li class="list-group-item" ng-repeat="member in invitee | filter:filterMember" ng-click="viewProfileDetail(eventInvitee.inviteesID[$index].idkoolets_user)">
                     <a href="#" class="thumb-xs pull-left m-r-sm">
            <img ng-src="{{profile_url}}{{inviteesID[$index].idkoolets_user}}/64" class="img-circle">
                 </a>
                 <a class="clear">
						 <small class="pull-right"><i class="fa fa-times" ng-click="removeInvitee(inviteesID[$index].idkoolets_user, $index)"></i></small>
                    <strong>{{member.fname}}&nbsp{{member.mname}}&nbsp{{member.lname}} </strong>
                   <span></span>
                 </a>
               </li>
			 </ul>
  </section>
</section>
	<script type="text/ng-template" id="customSearch.html">

<a tabindex="-1">
<img ng-src="http://ec2-52-74-230-113.ap-southeast-1.compute.amazonaws.com:9001/getUserProfilePic/{{match.model.idkoolets_user}}/28" class="avatar thumb-sm" />
<span  bind-html-unsafe="match.label | typeaheadHighlight:query"></span>

</a>

</script>