 <section class="vbox bg-white" hide-sm>
            <header class="header  pos-rlt navbar bg-dark bg-gradient show  md-whiteframe-z2">
				<account-dropmenu></account-dropmenu>	
              <div class="collapse navbar-collapse pull-in">
                <ul class="nav navbar-nav">
				  <li  md-ink-ripple ng-click="detailEvent.switchEventView('detail')"><a><i class="fa fa-bars"></i>&nbspDetails</a></li>
                  
                  <li md-ink-ripple  ng-click="detailEvent.switchEventView('comment')"><a ><i class="fa fa-comment"></i>&nbspComments </a></li>
                
              
              
                </ul>
    
              </div>
            </header>
            <section>
	
    <section class="hbox stretch">
                <aside>
                  <section class="vbox">
                    <section class="scrollable ">
						<div ng-switch on ="detailEvent.event_view">
		
							<!-- Event details-->
							<div ng-switch-when='detail' >
							
								<event-detail-section></event-detail-section>
							
							</div>
							<!-- End event details-->
						 
						 <!-- Event comments -->
						 
						  <div ng-switch-when='comment'>
						   <h1>Event Comments</h1>
						  </div>
						 <!-- End event comments -->
						 
						  
						</div>
                   
                    </section>
                  </section>
                </aside>
              </section>
            </section>
          </section>
   
	  <!--Mobile view-->
		<section class="vbox" hide-gt-md>
			<section class="scrollable wrapper">
			
				<div ng-switch on="detailEvent.mobile_event_view">
				 <div ng-switch-when="detail">
		
				 	<!--detail-->
					<event-detail-section></event-detail-section>
				<!--end detail -->
				
		
				 </div>
					<div ng-switch-when="comment">
					 <h1>Comment</h1>
					</div>
				</div>
			</section>
			
			<div class="navbar  navbar-fixed-bottom bg-primary" role="navigation" style="z-index:0">
	
		<md-button ng-click="detailEvent.switchMobile('detail')" class="md-icon-button" aria-label='general menu'><i class="fa fa-bars fa-1x"></i></md-button>
		<md-button ng-click="detailEvent.switchMobile('comment')" class="md-icon-button" aria-label='comments'><i class="fa fa-comments-o fa-1x"></i></md-button>
		<md-button ng-click="detailEvent.goCreate()" class="md-icon-button" aria-label='comments'><i class="fa fa-plus fa-1x"></i></md-button>
		
		<md-button ng-click="detailEvent.back()" class="md-icon-button pull-right" aria-label='back'><i class="fa fa-angle-left fa-1x"></i></md-button>
	</div>
		</section>
	  <!--End mobile view-->