<section class="vbox">
 <header class="header bg-dark">
   	<account-dropmenu></account-dropmenu>	
  <ul class="nav nav-tabs">
        <li class="">
         <a style="cursor:pointer" md-ink-ripple href="#/events">All</a>
         </li>
        <li class="">
          <a style="cursor:pointer" md-ink-ripple >Joined</a>
         </li>
        <li class="">
           <a style="cursor:pointer" md-ink-ripple href="#/event-create">Create event</a>
        </li>
     </ul>
 </header>
  <section class="scrollable">

   	<div class="row">
								<div class="col-md-12 " >
						
								<div class="row">
											<div class="col-md-4" layout-margin  ng-repeat="event in eventsJoined.joinedEvents " >
								<md-card class="wrapper" >
										<img ng-src="{{eventsJoined.urlBanner}}{{event._id}}/160"  height=120>
									<md-card-content>
					
												<div class="panel wrapper" style="border:1px solid white">
                      <div class="row">
                        <div class="col-xs-3">
                          <span class="fa-stack fa-2x">
  <i class="fa fa-calendar-o fa-stack-2x"></i>
  <span class="fa-stack-1x calendar-text text-danger" style="margin-top: .3em;font-size: medium;font-weight: bolder;">{{ event.event_startApp | date :'dd' }}</span>
	<span class="fa-stack-1x calendar-text " style="margin-top: 1.4em;font-size:x-small; font-weight: bolder;">{{ event.event_startApp | date :'MMM' }}</span>
</span>
                        </div>
						<div class="col-xs-7">
						<div class="row">
						 <div class="col-xs-10" style="display:block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
							<a class="h4"   ng-click="eventsJoined.detail(event._id)" >
							<strong>{{event.event_title}}</strong>
						</a>
						 </div>
						  <div class="col-xs-10">
							<h5>{{event.event_location[0].country}}</h5>
						  </div>
						</div>
					
						</div>
						<div class="col-xs-2">
							
                            
                             
                            
                         
						</div>
				
                      </div>
                    </div>
										
										
									</md-card-content>
							<a class="btn btn-s-md btn-danger btn-rounded btn-sm" ng-click="eventsJoined.unjoinEvent(event._id)">Unjoin</a>
								<br/>
							</md-card>
								
							</div>
							
								</div>
								
						</div>
					</div>
  </section>
</section>