<section class="vbox">
 <header class="header bg-dark">
 <account-dropmenu></account-dropmenu>
 <p>Event members</p>
 </header>
  <section> 
		<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
             <li class="list-group-item" ng-repeat="member in eventMember.members" ng-click="eventMember.viewProfile(eventMember.event_members[$index])">
                 <a href="#" class="thumb-xs pull-left m-r-sm">
					<img ng-src="{{eventMember.profile_url}}{{eventMember.event_members[$index].idkoolets_user}}/160">
                 </a>
                 <a class="clear">
			  <small class="pull-right"><i class="fa fa-circle text-info text-xs"></i></small>
                 <strong>{{member.FirstName}}&nbsp{{member.MiddleName}}&nbsp{{member.LastName}}</strong>
               
                  </a>
                </li>
			  </ul>
  </section>
</section>