<section class="vbox">
 <header class="header bg-dark">
	 <account-dropmenu></account-dropmenu>
	 <p>Event invitee (private)</p>
 </header>
  <section>
  <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
                <li class="list-group-item" ng-repeat="member in eventInvitee.invitee | filter:filterMember" ng-click="viewProfileDetail(eventInvitee.inviteesID[$index].idkoolets_user)">
                     <a href="#" class="thumb-xs pull-left m-r-sm">
            <img ng-src="{{eventInvitee.profile_url}}{{eventInvitee.inviteesID[$index].idkoolets_user}}/64" class="img-circle">
                 </a>
                 <a class="clear">
		
                    <strong>{{member.fname}}&nbsp{{member.mname}}&nbsp{{member.lname}} </strong>
                   <span></span>
                 </a>
               </li>
			 </ul>
  </section>
</section>